<div class="translate-box">
	<ul class="translate-box__languages">
		<app-dropdown
			label="Spanish"
			placeholder="Select a language"
			[menu]="languagesDropdownItems()"
			[value]="selectedLang()"
			(onSelect)="selectLanguage($event)" />
	</ul>
	<hr class="text-gray-300" />
	<div class="translate-box__text">
		<textarea
			#textarea
			class="pl-4"
			[placeholder]="source() ? 'Write your text here' : ''"
			[disabled]="!source()"
			[value]="textInput()"
			(keyup)="textValue.set(textarea.value)"></textarea>
	</div>
	<div class="translate-box__bottom">
		<app-copy-text-button [value]="textInput()" />
	</div>
</div>
